<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">TW</h1>

    </div>
    <h3>Register to Tractwork</h3>
    <p>Create account to see it in action.</p>
    <%= render 'form' %>
    <p class="m-t"> <small>Time Tracking and Project Planning - &copy; 2016</small> </p>
 </div>
</div>
